            body {
                background-color: rgba(54, 54, 105, 0.514);
                color: #ffffff;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                text-align: center;
            }
            
            h1 {
                background-color: rgba(25, 25, 56, 0.74);
                padding: 15px;
                margin: 0px 100px;
                border-radius: 50px;
            }
            
            div {
                font-size: 20px;
                border: 4px solid rgb(3, 3, 29);
                width: 300px;
                margin-left: 480px;
                margin-top: 20px;
                background-color: rgba(25, 25, 56, 0.568);
                border-radius: 20px;
                text-shadow: 1.5px 1.5px rgba(25, 25, 56, 0.568);
                margin-bottom: 30px;
            }
            
            #i01 {
                width: 250px;
                height: 250px;
                margin-top: 30px;
                border-radius: 10px;
            }
            
            a:link {
                background-color: #ffffff;
                color: rgba(25, 25, 56, 0.74);
                text-decoration: none;
                padding: 15px;
                font-weight: 700;
                text-shadow: 1px 1.5px 2px rgb(6, 6, 31);
            }
            
            a:hover {}
            
            a:visited {}
            
            a:active {}